<div class="header-area header-main site site-black sticky ">
    <div class="header-banner-area ">
        <div class="container">
            <div class="row">
                <div class=" col-md-5 align-self-center">
                    <div class="banner-comments">
                        <div class="banner-icon">
                            <i class="fal fa-comments-alt"></i>
                        </div>
                        <div class="banner-carousel owl-carousel">
                            <div class="banner-single-carousel">
                                <p>Email:  lotfilouiz@gmail.com </p>
                            </div>
                            <div class="banner-single-carousel">
                                <p>Phone Number:+(216) 25 649 668</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 text-right align-self-center">
                    <div class="banner-social-wrap">
                        <div class="banner-social">
                            <ul>
                             
                                <li><a href="https://www.linkedin.com/in/lotfi-louiz-b86b72113/">
                                <i class="fab fa-linkedin-in">

                                </i></a></li>
                                <li><a href="https://github.com/lotfi0310/"><i class="fab fa-github"></i></a></li>
                            </ul>
                        </div>
                        <div class="banner-contact">
                            <a href="#" class="contact-btn"><i class="fal fa-angle-double-right"></i> Contact Me</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--scroll to up btn-->
    <a href="#" class="up-btn"><i class="fal fa-angle-up"></i></a>
    <div class="container">
        <div class="row">
            <div class="col-6 col-lg-3 align-self-center">
                <a  routerLink="/" class="logo"><img src="assets/img/logo/logo.png" alt=""></a>
            </div>
            <div class="col-6 text-center align-self-center">
                <div class="main-menu">
                    <div class="stellarnav">
                        <ul class="navbarmneuclass">
                            <li class="current"><a href="#">Home</a>
                            
                            </li>
                            <li><a href="#about">About Me</a></li>
                            <li><a href="#myproject">Projects Demos</a>
                            <li><a href="#contact">Contact ME</a>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="d-none d-lg-block col-lg-3 align-self-center text-right">
                <div class="search-area">
                    <div class="search-box">
                        <form action="#">
                            <input type="search" placeholder="Search">
                        </form>
                        <div class="search-btn">
                            <a href="#"><i class="fas fa-search"></i></a>
                        </div>
                    </div>
                    <div class="grid-menu" id="grid-side">
                        <img src="assets/img/icon/hamburger.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="slide-widgest-wrap" id="slide-widgest">
        <div class="side-widgest" id="side-content">
            <div class="side-close" id="close-btn">
            <i class="fal fa-times"></i>
        </div>
            <div class="logo">
                <a href="#"><img src="assets/img/logo/logo.png" alt=""></a>
            </div>
            <div class="side-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint ratione reprehenderit, error qui enim sit ex provident iure, dolor, nulla eaque delectus, repudiandae commodi. Velit assumenda odit quisquam at, error suscipit unde, necessitatibus ipsum ratione excepturi ducimus labore, totam dolorem.</p>
            </div>
            <div class="side-social">
                <ul>
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>