

<body><!--BODY START-->

    <!--PLACEHOLDER AREA START-->
    <div class="preloader">
        <div class="lds-dual-ring"></div>
    </div>
    <!--PLACEHOLDER AREA END-->
  
    <!--::::: BANNER AREA END :::::::-->
<app-header></app-header>
    <!--::::: HEADER AREA START :::::::-->
   
    <div class="site site-black"> <!--::::: SITE AREA START :::::::-->
          <!--::::: BANNER AREA START :::::::-->
      
        <!--::::: HEADER AREA END :::::::-->
        
        <!--:::::WELCOME ATRA START :::::::-->
       <app-about></app-about>
        <!--:::::WELCOME AREA END :::::::-->


        <!--:::::ABOUT AREA END :::::::-->

        <!--:::::SKILL AREA START :::::::-->
      <app-experience></app-experience>

        <!--:::::SERVICE AREA START :::::::-->
      
        <!--:::::SERVICE AREA END :::::::-->
       <app-technologies></app-technologies>
        <!--:::::PROJECT AREA START :::::::-->
      
        <!--:::::PROJECT AREA END :::::::-->

      <app-projects></app-projects>
      <app-contact></app-contact>
      
<app-footer></app-footer>
                          
    </div> <!--:::::sitea area end :::::::-->




</body>
