<div class="welcome-area-wrap welcome__wrap1" id="about">
        
    <!--::::: WELCOME CAROUSEL START :::::::-->
    <div class="welcome-carousel owl-carousel">
        <div class="single-welcome-area home_1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="wlc-title white">
                            <h1 class="fadeInDown animated"><span>imagination</span> is more important
                            than knowledge</h1>
                            <p class="fadeInDown animated">Together we the people achieve more than any single person <br>could ever do alone. </p>
                           
                            <a  class="cbtn cbnt1 fadeInDown animated" (click)="downloadPdf()">Download cv  <i class="fal fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wlc-author-1">
                <img src="assets/img/author/author1.png" alt="">
                <h1 class="wlc-filltext">gilroy</h1>
            </div>
        </div>
        <div class="single-welcome-area home_1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="wlc-title white">
                            <h1 class="fadeInDown animated"><span>imagination</span> is more important
                            than knowledge</h1>
                            <p class="fadeInDown animated">Together we the people achieve more than any single person <br>could ever do alone. </p>
                            <a href="#" class="cbtn cbnt1 fadeInDown animated">Getting Started <i class="fal fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wlc-author-1">
                <img src="assets/img/author/author2.png" alt="">
                <h1 class="wlc-filltext">gilroy</h1>
            </div>
        </div>
    </div>
    <!--::::: WELCOME CAROUSEL END:::::::-->
</div>