<div class="skill-area section-padding" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 align-self-center">
                <div class="heading white">
                    <strong class="filltext">my carrer</strong>
                    <small>MY EXPERIENCE</small>
                    <h2>Experience and <span>skill</span></h2>
                </div>
            </div>
            <div class="col-lg-6 align-self-center">
                 <div class="info-content">
                    <p>I have a strong background in software development and a passion for creating innovative web applications. 
                    Over the years, I have worked on various projects ranging from e-commerce platforms to mobile applications,
                     gaining valuable experience in full-stack development and UI/UX design.</p>
                </div>
            </div>
        </div>
        <div class="space-60"></div>
        <div class="row">
           
          
         
            <div class="col-sm-6 col-lg-3">
                <div class="skill-box">
                    <small>February 2023 - May 2023</small>
                    <h5>Private Higher School of Engineering and Technology ESPRIT</h5>
                    <p> BioUp will promote the adoption of sustainable and environmentally-friendly agricultural practices and support the growth of the organic agriculture industry.</p>
                </div>
            </div>
            
            <div class="col-sm-6 col-lg-3">
                <div class="skill-box">
                    <small>January 2022 - March 2022</small>
                    <h5>Private Higher School of Engineering and Technology ESPRIT</h5>
                    <p>Development of a multi-platform application  presenting the tourism sector in Tunisia.</p>
                </div>
            </div>
            
            <div class="col-sm-6 col-lg-3">
                <div class="skill-box">
                    <small>June 2022 - July 2022</small>
                    <h5>Eskills</h5>
                    <p>Developing an intelligent and intuitive solution for buying or selling your Smartphone. The application evolves daily with new features for diagnosing smartphone components.</p>
                </div>
            </div>
            
            <div class="col-sm-6 col-lg-3">
                <div class="skill-box">
                    <small>January 2016 - June 2016</small>
                    <h5>Dux Interactive</h5>
                    <p>INFO TRAFIC, It aims to facilitate mobility by providing clients with real-time information on traffic conditions and disruptions that may impact their journey.</p>
                </div>
            </div>
        </div>
      
    </div>
    <!-- Start Technical Skills Section -->
  
</div>