<div class="project-area section-padding" id="myproject" >
    <div class="container">
        <div class="row">
            <div class="col-lg-5 align-self-center">
                <div class="heading white">
                    <strong class="filltext">My projects</strong>
                    <small>WORKING PROCESS</small>
                    <h2>lastet working <span>project</span></h2>
                </div>
            </div>
            <div class="col-lg-5 align-self-center">
                 <div class="info-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint ratione reprehenderit </p>
                </div>
            </div>
        </div>
        <div class="space-60"></div>
        <div class="row">
            <ul id="da-thumbs" class="da-thumbs portfolio-carousel owl-carousel">
                <li>
                    <a href="https://github.com/BioUpOrg">
                        <img src="assets/img/project/bioup2.png" alt="">
                        <div><span>BioUp</span></div>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/lotfi0310/BEFORE_KEYKLOACK_BACKUP">
                        <img src="assets/img/project/Gecole.png" alt="">
                        <div><span>Microservice  (Ecole Managment) </span></div>
                    </a>
                </li>
                <li>
                    <a href="portfolio.html">
                        <img src="assets/img/project/project3.png" alt="">
                        <div><span></span></div>
                    </a>
                </li>
                <li>
                    <a href="portfolio.html">
                        <img src="assets/img/project/project4.png" alt="">
                        <div>
                            <span></span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="portfolio.html">
                        <img src="assets/img/project/project2.png" alt="">
                        <div>
                            <span></span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>