<div class="service-area padding-bottom"  id="service">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 align-self-center">
                <div class="heading white">
                    <strong class="filltext">our services</strong>
                    <small>WHAT I DO</small>
                    <h2>Technologies and<span> Frameworks</span></h2>
                </div>
            </div>
            <div class="col-lg-6 align-self-center">
                 <div class="info-content">
                    <p>I specialize in a wide range of technologies and frameworks. I have expertise in building applications using Spring Boot, .NET, Django, Node.js, and Express.js for robust and efficient back-end development. Additionally, I have experience with Symfony and Laravel for creating scalable web solutions. On the front-end, I am proficient in Angular and React.js, ensuring dynamic and interactive user interfaces. My programming languages of choice include Java, C#, Python, JavaScript, and PHP, enabling me to tackle diverse projects with precision and efficiency.</p>
                </div>
            </div>
            
        </div>
        <div class="space-60"></div>
        <div class="row">
            <div class="col-lg-4">
                <div class="single-service">
                    <div class="service-icon">
                        <img src="assets/img/icon/spring.png" alt="">
                    </div>
                    <div class="service-text">
                        <p>Spring is a popular Java-based framework used for building enterprise-level applications. It provides comprehensive infrastructure support for developing robust and maintainable applications.</p>
                    </div>
                    <div class="circles-wrap">
                        <div class="circles">
                            <span class="circle circle-1"></span>
                            <span class="circle circle-2"></span>
                            <span class="circle circle-3"></span>
                            <span class="circle circle-4"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-service active">
                    <div class="service-icon">
                        <img src="assets/img/icon/.net.png" alt="">
                    </div>
                    <div class="service-text">
                        <p>.NET is a free, open-source developer platform developed by Microsoft. It allows developers to build a wide range of applications.</p>
                    </div>
                    <div class="circles-wrap">
                        <div class="circles">
                            <span class="circle circle-1"></span>
                            <span class="circle circle-2"></span>
                            <span class="circle circle-3"></span>
                            <span class="circle circle-4"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-service">
                    <div class="service-icon">
                        <img src="assets/img/icon/django.png" style=" filter: invert(100%);" alt="">
                    </div>
                    <div class="service-text">
                        <p>Django is a high-level web development framework for building web applications using Python. It follows the model-template-views (MTV)</p>
                    </div>
                    <div class="circles-wrap">
                        <div class="circles">
                            <span class="circle circle-1"></span>
                            <span class="circle circle-2"></span>
                            <span class="circle circle-3"></span>
                            <span class="circle circle-4"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-service">
                    <div class="service-icon">
                        <img src="assets/img/icon/nodejs.png"  alt="">
                    </div>
                    <div class="service-text">
                        <p>Node.js is a JavaScript runtime environment that allows developers to execute JavaScript code on the server side.</p>
                    </div>
                    <div class="circles-wrap">
                        <div class="circles">
                            <span class="circle circle-1"></span>
                            <span class="circle circle-2"></span>
                            <span class="circle circle-3"></span>
                            <span class="circle circle-4"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-service">
                    <div class="service-icon">
                        <img src="assets/img/icon/express-js.png"  alt="">
                    </div>
                    <div class="service-text">
                        <p>Express.js, often referred to as just Express, is a minimal and flexible Node.js web application framework .</p>
                    </div>
                    <div class="circles-wrap">
                        <div class="circles">
                            <span class="circle circle-1"></span>
                            <span class="circle circle-2"></span>
                            <span class="circle circle-3"></span>
                            <span class="circle circle-4"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-service">
                    <div class="service-icon">
                        <img src="assets/img/icon/angular.png"  alt="">
                    </div>
                    <div class="service-text">
                        <p>Angular is a popular front-end framework for building dynamic web applications.</p>
                    </div>
                    <div class="circles-wrap">
                        <div class="circles">
                            <span class="circle circle-1"></span>
                            <span class="circle circle-2"></span>
                            <span class="circle circle-3"></span>
                            <span class="circle circle-4"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-service">
                    <div class="service-icon">
                        <img src="assets/img/icon/reactjs.png" style=" filter: invert(100%);"  alt="">
                    </div>
                    <div class="service-text">
                        <p>React is a JavaScript library for building user interfaces, particularly for single-page applications where data can change over time.</p>
                    </div>
                    <div class="circles-wrap">
                        <div class="circles">
                            <span class="circle circle-1"></span>
                            <span class="circle circle-2"></span>
                            <span class="circle circle-3"></span>
                            <span class="circle circle-4"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-service">
                    <div class="service-icon">
                        <img src="assets/img/icon/laravel.png"   alt="">
                    </div>
                    <div class="service-text">
                        <p>Laravel is a free, open-source PHP web framework used for building web applications following the model-view-controller (MVC) architectural pattern.</p>
                    </div>
                    <div class="circles-wrap">
                        <div class="circles">
                            <span class="circle circle-1"></span>
                            <span class="circle circle-2"></span>
                            <span class="circle circle-3"></span>
                            <span class="circle circle-4"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-service">
                    <div class="service-icon">
                        <img src="assets/img/icon/symfony.png" style=" filter: invert(100%);"  alt="">
                    </div>
                    <div class="service-text">
                        <p>Symfony is a PHP web application framework known for its speed, flexibility, and developer-friendly features. It follows the model-view-controller (MVC) architectural pattern.</p>
                    </div>
                    <div class="circles-wrap">
                        <div class="circles">
                            <span class="circle circle-1"></span>
                            <span class="circle circle-2"></span>
                            <span class="circle circle-3"></span>
                            <span class="circle circle-4"></span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="space-100"></div>
    <div class="skill__circles">
        <div class="container">
            <div class="row">
                <div class="colsm6 col-lg-3 text-center">
                     <div class="circle1 circle" id="circle1">
                      <strong></strong>
                      <span>Git</span>
                    </div>
                </div>
                <div class="colsm6 col-lg-3 text-center">
                     <div class="circle2 circle" id="circle2">
                      <strong></strong>
                      <span>Jira</span>
                    </div>
                </div>
                <div class="colsm6 col-lg-3 text-center">
                     <div class="circle3 circle" id="circle3">
                      <strong></strong>
                      <span>Docker</span>
                    </div>
                </div>
                <div class="colsm6 col-lg-3 text-center">
                     <div class="circle4 circle" id="circle4">
                      <strong></strong>
                      <span>Jenkins</span>
                    </div>
                </div>
                <div class="colsm6 col-lg-3 text-center">
                    <div class="circle4 circle" id="circle4">
                     <strong></strong>
                     <span>Postgres</span>
                   </div>
               </div>
               <div class="colsm6 col-lg-3 text-center">
                <div class="circle4 circle" id="circle4">
                 <strong></strong>
                 <span>MySQL</span>
               </div>
           </div>
               <div class="colsm6 col-lg-3 text-center">
                <div class="circle4 circle" id="circle4">
                 <strong></strong>
                 <span>MongoDb</span>
               </div>
           </div>
           <div class="colsm6 col-lg-3 text-center">
            <div class="circle4 circle" id="circle4">
             <strong></strong>
             <span>KeyCloack</span>
           </div>
       </div>
            </div>
        </div>
    </div>
</div>